*,
*:before,
*:after {
  box-sizing: border-box;
}

.line {
  border: 3px solid rgba(64, 172, 37, 0.851);
  width: 200px;
}
body{
  background-color: rgb(65, 65, 65);
}
.wrapper {
  background-color: rgb(102, 102, 102);
  list-style-type: none;
  padding: 0;
  border-radius: 5px;
}
.form-row {
  display: flex;
  justify-content: flex-end;
  padding: 0.5em;
}
.form-row > label {
  padding: 1em;
  flex: 1;
  font-size: 1.2em;
  font-weight: bold;
}
.form-row > input {
  flex: 2;
  background-color: rgb(160, 140, 140);
}

.form-row > input,
.form-row > button {
  padding: 1em;
  margin: 10px 0;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  font-size: 1.2em;
}
.form-row > button {
  background-color: #41b53f8a;
  color: rgb(232, 231, 231);
  border: 0;
  flex: 3;
  font-weight: 600;
}
