*,
*:before,
*:after {
  box-sizing: border-box;
}

.line {
  border: 3px solid rgba(64, 172, 37, 0.851);
  width: 200px;
}
body{
  background-color: rgb(65, 65, 65);;
}
.wrapper {
  background-color: rgb(102, 102, 102);
  list-style-type: none;
  padding: 0;
  border-radius: 5px;
}
.form-row {
  display: flex;
  justify-content: flex-end;
  padding: 0.5em;
}
.form-row > label {
  padding: 1em;
  flex: 1;
  font-size: 1.2em;
  font-weight: bold;
}
.form-row > input,
.form-row > textarea {
  flex: 2;
}
#topic{
  background-color: rgb(183, 220, 232);
}
.form-row > input,
.form-row > button,
.form-row > textarea {
  padding: 0.5em;
  resize: vertical;
  margin: 10px 0;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  font-size: 1.2em;
}
.form-row > textarea {
  font-size: 1.5em;
  color: rgb(255, 146, 73);
  background-color: rgb(78, 99, 106);
  text-align: center;
  font-weight: bold;
}
.btn-container {
  flex: 3;
  column-gap: 10px;
  display: flex;
}
.btn-container > button {
  width: 50%;
  border: 0;
  padding: 1em;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  color: white;
  font-size: 1.2em;
}

#subscribe {
  background-color: #41b53f8a;
}
#unsubscribe {
  background-color: rgba(171, 42, 42, 0.863);
}

#status {
  background-color: rgb(141, 188, 204);
  text-align: center;
  font-weight: bold;
}